/* ---------- Elaborado por: Eli Haziel Ortiz Ramirez ---------- */

/* Open Props */
@import "https://unpkg.com/open-props/animations.min.css";
@import "https://unpkg.com/open-props/easings.min.css";
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/gray-hsl.min.css";
@import "https://unpkg.com/open-props/purple-hsl.min.css";
@import "https://unpkg.com/open-props/choco-hsl.min.css";


/* ---- Global Styles ---- */
* {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Schibsted Grotesk', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ---- body styles ---- */
body {
    /* font styles */
    font-size: 1.6rem;

    /* effects */
    background-color: #222;
}

/* ---- header styles ---- */
header {

    /* sizing */
    width: 100%;
    height: auto;

    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 30px;

    /* effects */
    background-color: #333333;

}

header>h1 {
    /* font styles */
    text-align: center;
    /* color: white; */
    color: var(--orange-4);
    font-size: 3.2rem;
    
    
    /* animation */
    animation:
        var(--animation-scale-down) reverse,
        var(--animation-fade-out) reverse;
    animation-timing-function: var(--ease-squish-5);
    animation-duration: 1s;
}

header>p {
    /* font styles */
    color: white;
    text-align: center;
    font-size: 1.3rem;

    /* spacing */
    margin-bottom: 20px;
}

.link-container {
    /* display */
    display: flex;
    gap: 12px;

    /* position */
    position: absolute;
    top: 4%;
    right: 0.5%;

    /* spacing */
    padding: 8px 14px;
    margin-bottom: 12px;

    /* effects */
    background-color: #ffffff;
    border-radius: 18px;

    /* animation */
    opacity: 0;
    animation: var(--animation-fade-in) forwards,
      var(--animation-slide-in-up) forwards;
    animation-timing-function: var(--ease-squish-3);
}

.link-container>a {
    /* sizing */
    width: 24px;
    height: 24px;

    /* font styles */
    text-decoration: none;
    color: #3b82f6;
    font-size: 1rem;

    /* effects */
    transition: 0.3s all ease-in;
    cursor: pointer;

    /* animation */
    animation:
        var(--animation-scale-down) reverse,
        var(--animation-fade-out) reverse;
    animation-timing-function: var(--ease-squish-5);
    animation-duration: 1.4s;
}

.link-container>a>img {
    width: -webkit-fill-available;
    height: 100%;
}

.link-container>a:hover {
    transform: scale(1.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > h2 {
    color: white;
    font-weight: bold;
    font-size: 2.1rem;
    margin-bottom: 25px;
}

.links {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.link {
    background-color: #f6ae3b;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 12px;
    border-radius: 18px;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out all;
}

.link:hover {
    transform: scale(1.1);
    font-weight: bolder;
    background-color: #f6ae3bad;
}

/* ---- Class DOM styles ---- */
.DOM {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.DOM>h2 {
    /* font styles */
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

/* ---- Nav Styles ---- */
.DOM>nav a {
    /* font styles */
    color: #3b82f6;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
}

.DOM>p {
    /* font styles */
    color: #3b82f6;
    font-size: 20px;
}

.DOM #formulario {

    width: 40%;

}

.DOM form input {
    /* max-width: ; */
    /* sizing */
    width: 100%;

    /* spacing */
    padding: 1rem;

    /* display */
    display: block;

    /* effects */
    border: none;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.DOM form input[type="submit"] {
    /* effects */
    background-color: #3b82f6;
    /* font styles */
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.alerta {
    background-color: yellow;
    color: white;
    font-weight: bolder;
    padding: 8px;
    border-radius: 12px;
    text-align: center;
    font-size: 15px;
}
.alerta.error {
    background-color: red;
}

.alerta.exito {
    background-color: green;
}